{% extends 'base.html' %}
{% block content %}
{% include 'trading_simulator/nav.html' %}
<div class="jumbotron" style="background-color:white; padding:50px 150px;">
    <h1 class="display-4">Balances</h1>
    <h3 id="totalBalance"></h3>
    <table class="table table-bordered">
        <thead class="bg-primary text-white">
            <tr>
                <th>Currency Name</th>
                <th>Balance</th>
                <th>Value (USD Equivalent)</th>
            </tr>
        </thead>
        <tbody>
            {% for balance in balance_ %}
            {% if balance.coinBalance != 0 %}
            <tr>
                <td>{{balance.coinId.name}}</td>
                {% if balance.coinId.coinId == 1 %}
                    <td>{{balance.coinBalance|floatformat:2}} {{balance.coinId.symbol}}</td>
                    <td class="usdValue">{{ balance.coinBalance|floatformat:2}}</td>
                {% else %}
                    <td>{{balance.coinBalance|floatformat:8}} {{balance.coinId.symbol}}</td>
                    <td class="usdValue">value</td>
                {% endif %}
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
            
    <hr style="margin: 50px 0;">
    <h1 class="display-4">Profits/Losses</h1>
    <table class="table table-bordered">
        <thead class="bg-primary text-white">
            <tr>
                <th>Initial Value</th>
                <th>Current Value</th>
                <th>Percent Gain/Loss</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id='initialValue'></td>
                <td id='currentValue'></td>
                <td id='percentGain'></td>
            </tr>
        </tbody>
    </table>

    <hr style="margin: 50px 0;">
    <h1 class="display-4">Trade History</h1>

    <table class="table table-bordered">
        <thead class="bg-primary text-white">
            <tr>
                <th>Type</th>
                <th>Currency</th>
                <th>Amount</th>
                <th>Price</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for trade in tradeHistory_|dictsortreversed:'date' %}
            <tr>
                {% if trade.tradeType == 'BUY' %}
                    <td class="tradeType buy">{{ trade.tradeType }}</td>
                {% elif trade.tradeType == 'SELL' %}
                    <td class="tradeType sell">{{ trade.tradeType }}</td>
                {% endif %}
                <td>{{ trade.coinId.name }}</td>
                <td>{{ trade.amount|floatformat:8 }} {{ trade.coinId.symbol }}</td>
                <td>{{ trade.price|floatformat:2 }} USD</td>
                <td>{{ trade.date|date:"Y/m/d H:i:s" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    var csrftoken = getCookie('csrftoken');
    var coinsWithBalance = []
    var coinList = [];  // all coins in db

    (function getCoinList(){
        $.ajax({
        method: "POST",
        url: "/trading_simulator/getCoins/",
        headers: {'X-CSRFToken':csrftoken},
    })
    .done(function( msg ) {
        console.log(msg);
        $.each(msg, function(index, coin){
            coinList.push({'coinId':coin.pk,
                            'name':coin.fields.name, 
                            'symbol':coin.fields.symbol,
                            'cmcId':coin.fields.cmcId});
        });
        console.log(coinList);
    })})();    

    // retrieve coin list with balances > 0     
    (function getBalance(){
        $.ajax({
        method: "POST",
        url: "/trading_simulator/getBalance/",
        headers: {'X-CSRFToken':csrftoken},
    })
    .done(function( msg ) {
        $.each(msg.balances, function(idx, balance){
            coinsWithBalance.push({'coinId':balance.fields.coinId,
                                    'balance':balance.fields.coinBalance});
        });
        $('#initialValue').text(msg.account[0].fields.initialAmount.toFixed(2) + " USD");
        console.log(coinsWithBalance);
    })})();

    // show equivalent usd values
    var b1 = setInterval(function(){
        $.each(coinsWithBalance, function(idx, coin){
            if(coin.coinId != 1){
                let cmcId;
                $.each(coinList, function(idx_, coin_){
                    if(coin_.coinId == coin.coinId){
                        cmcId = coin_.cmcId;
                    }
                });
                
                $.ajax({
                    method: "GET",
                    url: "https://api.coinmarketcap.com/v2/ticker/"+cmcId+"/",
                })
                .done(function( msg ) {
                    console.log(msg.data.quotes.USD.price);
                    let coinPrice = msg.data.quotes.USD.price;
                    $('.usdValue:eq('+idx+')').text((coinPrice * coin.balance).toFixed(2));
                });
            }
        });
        
        var total = 0;
        for(i=0;i<coinsWithBalance.length;i++){
            total += parseFloat($('.usdValue:eq('+i+')').text());
        }
        $('#totalBalance').text("Total account value: " + total.toFixed(2) + " USD");
        $('#currentValue').text(total.toFixed(2) + " USD");

        let currentValue = parseFloat($('#currentValue').text());
        let initialValue = parseFloat($('#initialValue').text());
        let percentGain = (currentValue - initialValue)/initialValue * 100;
        $('#percentGain').text(percentGain.toFixed(2) + " %");
    },1000);

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }   
        return cookieValue;
    }

    $('.tradeType.buy').parent().css("background-color", "#eeffe5");
    $('.tradeType.sell').parent().css("background-color", "#ffe5e5");
</script>
{% endblock %}