{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'trading_simulator/nav.html' %}
<style>
    input[type=number] {
        border-radius:5px; 
        padding:3px;
    }
</style>
<div class="jumbotron" style="background-color:white; padding:50px 150px;">
    <h1 class="display-4">Trade</h1>

    <h3 id="USDbalance">Funds available:</h3>

    <table class="table table-bordered">
        <thead class="bg-primary text-white">
            <tr>
                <th>Currency Name</th>
                <th>Symbol</th>
                <th>Available Balance</th>
                <th>Current Price</th>
                <th>Trade</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Bitcoin</td>
                <td>BTC</td>
                <td id="BTCbalance"></td>
                <td id="btcPrice">Current Price</td>
                <td>                    
                    <input type="number" id="BTCamount" class="amount" name="buyBTCamount" placeholder="enter amount"> 
                    <input type="button" id="BTCbuy" class="btn btn-success buy" name="buyBTC" value="buy">
                    <input type="button" id="BTCsell" class="btn btn-danger sell" name="sellBTC" value="sell">
                    <input type="button" id="BTCclear" class="btn btn-secondary clear" name="clearBTC" value="clear">
                </td>
            </tr>
            <tr>
                <td>Ethereum</td>
                <td>ETH</td>
                <td id="ETHbalance"></td>
                <td id="ethPrice">Current Price</td>
                <td>
                    <input type="number" id="ETHamount" class="amount" name="buyETHamount" placeholder="enter amount"> 
                    <input type="button" id="ETHbuy" class="btn btn-success buy" name="buyETH" value="buy">
                    <input type="button" id="ETHsell" class="btn btn-danger sell" name="sellETH" value="sell">
                    <input type="button" id="ETHclear" class="btn btn-secondary clear" name="clearETH" value="clear">
                </td>
            </tr>
            <tr>
                <td>EOS</td>
                <td>EOS</td>
                <td id="EOSbalance"></td>
                <td id="eosPrice">Current Price</td>
                <td>
                    <input type="number" id="EOSamount" class="amount" name="buyEOSamount" placeholder="enter amount"> 
                    <input type="button" id="EOSbuy" class="btn btn-success buy" name="buyEOS" value="buy">
                    <input type="button" id="EOSsell" class="btn btn-danger sell" name="sellEOS" value="sell">
                    <input type="button" id="EOSclear" class="btn btn-secondary clear" name="clearEOS" value="clear">
                </td>
            </tr>
        </tbody>
    </table>
</div>




    






<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
<script src="{% static 'js/price.js' %}">
    // function showEOSprice(){
    //     $.ajax({
    //     method: "GET",
    //     url: "https://api.coinmarketcap.com/v2/ticker/1765/",
    // })
    // .done(function( msg ) {
    //     console.log(msg.data.quotes.USD.price);
    //     $('#eosPrice').text(msg.data.quotes.USD.price.toFixed(2) + " USD");
    // });
    // };

    // function showBTCprice(){
    //     $.ajax({
    //         method: "GET",
    //         url: "https://api.coinmarketcap.com/v2/ticker/1/",
    //     })
    //     .done(function( msg ) {
    //         console.log(msg.data.quotes.USD.price);
    //         $('#btcPrice').text(msg.data.quotes.USD.price.toFixed(2) + " USD");
    //     });
    // };

    // function showETHprice(){
    //     $.ajax({
    //     method: "GET",
    //     url: "https://api.coinmarketcap.com/v2/ticker/1027/",
    // })
    // .done(function( msg ) {
    //     console.log(msg.data.quotes.USD.price);
    //     $('#ethPrice').text(msg.data.quotes.USD.price.toFixed(2) + " USD");
    // });
    // };
        
    // function getPrices(){
        //showBTCprice();
        //showETHprice();
        //showEOSprice();
    // }

    //getPrices();
    //var t = setInterval(getPrices, 10000);
</script>
<script>
    var csrftoken = getCookie('csrftoken');
    var USDbalance;

    $('.amount').change(function(){
        let amount = $(this).val();
        let price = $(this).parent().prev().text().split(' ')[0]
        if((amount * price) > USDbalance){
            //alert("not enough funds");
            $(this).val((USDbalance/price).toFixed(8));
        } else if (amount < 0) {
            $(this).val("");
        }
    });

    $('.btn.clear').click(function(){
        $(this).parent().children().first().val("");
    });

    $('.btn.buy, .btn.sell').click(function(){
        var amount = $(this).parent().children().first().val();
        console.log(amount);

        var type = $(this).val();
        console.log(type);

        var currency = $(this).parent().children().first().attr('id')
        currency = currency.substr(0,3).toLowerCase();
        console.log(currency);

        var price = $('#'+currency+'Price').text().split(' ')[0];
        console.log(price);

        if(amount > 0)
            trade(price, amount, type, currency);
    });

    function trade(price, amount, type, currency){
        console.log("sending trade...");
        $.ajax({
        method: "POST",
        url: "/trading_simulator/trade/",
        data: {'price':price, 'amount':amount, 'type':type, 'currency':currency},
        headers: {'X-CSRFToken':csrftoken},
    })
    .done(function( msg ) {
        console.log(msg);
    });
    };

    function updateBalance(){
        $.ajax({
        method: "POST",
        url: "/trading_simulator/getBalance/",
        headers: {'X-CSRFToken':csrftoken},
    })
    .done(function( msg ) {
        //console.log(msg[0].fields.USDbalance); test read returned JSON
        USDbalance = msg[0].fields.USDbalance;
        $('#USDbalance').text("Funds available: " + USDbalance.toFixed(2) + " USD");
        $('#BTCbalance').text(msg[0].fields.BTCbalance.toFixed(8));
        $('#ETHbalance').text(msg[0].fields.ETHbalance.toFixed(8));
        $('#EOSbalance').text(msg[0].fields.EOSbalance.toFixed(8));
    });
    }

    updateBalance();
    var t2 = setInterval(updateBalance, 1000);

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }   
        return cookieValue;
    }

</script>
{% endblock %}