{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'trading_simulator/nav.html' %}
<style>
    input[type=number] {
        border-radius:5px; 
        padding:3px;
    }
</style>
<div class="jumbotron" style="background-color:white; padding:50px 150px;">
    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto">
                <h1 class="display-4">Trade</h1>
                <h3 id="USDbalance">Funds available:</h3>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto" id="tradediv" style="background:rgb(211, 211, 211);padding:50px;border-radius: 5px;">
                <label for="coins"><h3>Select a coin to trade:</h3></label>
                <select class="form-control" name="coins" id="coinList"></select>
                <hr>
                <h3 id="price">Current price: </h3>
                <hr>
                <h3 id="balance">Current holdings: </h3>
                <hr>
                <div class="row">
                    <div class="col-8 mx-auto">
                        <input type="number" id="amount" class="amount" name="amount" placeholder="enter amount" autocomplete="off"> 
                        <input type="button" id="buy" class="btn btn-success buy" name="buy" value="buy">
                        <input type="button" id="sell" class="btn btn-danger sell" name="sell" value="sell">
                        <input type="button" id="clear" class="btn btn-secondary clear" name="clear" value="clear">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var csrftoken = getCookie('csrftoken');
    var USDbalance;
    var price;
    var balance;

    // Get list of all coins in db
    var coinList = [];
    (function getCoinList(){
        $.ajax({
        method: "POST",
        url: "/trading_simulator/getCoins/",
        headers: {'X-CSRFToken':csrftoken},
    })
    .done(function( msg ) {
        console.log(msg);
        $.each(msg, function(index, coin){
            coinList.push({'coinId':coin.pk,
                            'name':coin.fields.name, 
                            'symbol':coin.fields.symbol,
                            'cmcId':coin.fields.cmcId});
        });
        console.log(coinList);

        // Add coins to list
        $.each(coinList, function(idx, coin){
            if(coin.coinId!=1){ // not usd
                var option = $('<option></option>');
                option.val(coin.cmcId);
                option.append(coin.name);
                $('#coinList').append(option);
            }
        });
    })})();

    // change coin in dropdown list
    var price_interval;
    var balance_interval;
    $('#coinList').change(function(){
        if(price_interval){
            clearInterval(price_interval);
        }
        if(balance_interval){
            clearInterval(balance_interval);
        }
        
        // get price
        let cmcId = $(this).children(':selected').val();
        getCoinPrice(cmcId);
        price_interval = setInterval(getCoinPrice.bind(null, cmcId), 1000);

        // show coin balance
        let coinId;
        $.each(coinList, function(idx, coin){
            if(coin.cmcId == cmcId){
                coinId = coin.coinId;
            }
        });
        getCoinBalance(coinId);
        balance_interval = setInterval(getCoinBalance.bind(null, coinId), 1000);
    });

    // get price from CMC
    function getCoinPrice(cmcId){
        $.ajax({
        method: "GET",
        url: "https://api.coinmarketcap.com/v2/ticker/"+cmcId+"/",
    })
    .done(function( msg ) {
        //console.log(msg.data.quotes.USD.price);
        price = msg.data.quotes.USD.price;
        $('#price').text("Current " + msg.data.symbol + " price: "+ msg.data.quotes.USD.price.toFixed(2) + " USD");
    })}

    function getCoinBalance(coinId){
        $.ajax({
        method: "POST",
        url: "/trading_simulator/getCoinBalance/"+coinId+"/",
        headers: {'X-CSRFToken':csrftoken},
    })
    .done(function( msg ) {
        balance = 0;
        if(msg.length){
            balance = msg[0].fields.coinBalance;
        }
        $('#balance').text("Current holdings: " + balance.toFixed(8));
    })}

    // initially, get & show btc price, balance
    getCoinPrice(1);
    price_interval = setInterval(getCoinPrice.bind(null, 1), 1000);
    getCoinBalance(2);
    balance_interval = setInterval(getCoinBalance.bind(null, 2), 1000);

/*
    $('.amount').change(function(){
        let amount = $(this).val();
        if((amount * price) > USDbalance){
            //alert("not enough funds");
            $(this).val((USDbalance/price).toFixed(8));
        } else if (amount < 0) {
            $(this).val("");
        }
    });
*/

    // clear amount input field
    $('.btn.clear').click(function(){
        $('#amount').val("");
    });

    $('.btn.buy, .btn.sell').click(function(){
        let amount = $('#amount').val();
        console.log("amount: " + amount);

        let type = $(this).val();
        console.log("type: " + type);

        let coinId;
        let cmcId = $('#coinList').children(':selected').val();
        $.each(coinList, function(idx, coin){
            if(coin.cmcId == cmcId){
                coinId = coin.coinId;
            }
        });
        console.log("coinId: " + coinId);

        console.log("price: " + price);

        if(amount > 0)
            trade(price, amount, type, coinId);
    });

    function trade(price, amount, type, coinId){
        console.log("sending trade...");
        $.ajax({
        method: "POST",
        url: "/trading_simulator/trade/",
        data: {'price':price, 'amount':amount, 'type':type, 'coinId':coinId},
        headers: {'X-CSRFToken':csrftoken},
    })
    .done(function( msg ) {
        console.log(msg);
    })}

    function updateUSDBalance(){
        $.ajax({
        method: "POST",
        url: "/trading_simulator/getCoinBalance/1/",
        headers: {'X-CSRFToken':csrftoken},
    })
    .done(function( msg ) {
        USDbalance = msg[0].fields.coinBalance;
        $('#USDbalance').text("Funds available: " + USDbalance.toFixed(2) + " USD");
    })}

    updateUSDBalance();
    var t2 = setInterval(updateUSDBalance, 1000);

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }   
        return cookieValue;
    }

</script>
{% endblock %}